<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    {% block header %}
    
    {% endblock %}
</head>
<body>
    <h1>Brand and logo</h1>
    <hr>
    {% block content %}
    
    {% endblock %}
    <hr>
    {% block footer %}
    Default footer
    {% endblock %}
    <br>
    Footer
</body>
</html>